<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de rutas</title>
</head>
<body>
    
    {{{body}}} <!-- This is where the content of the page will be injected -->
</body>
</html>